<html>

<head>
  <meta content = 'text/html; charset = UTF-8' http-equiv = 'Content-Type' />
</head>

<body>
<h1>This feedback was sent by <%= @user_name %></h1>

<p>
  The customer's feedback is :
  <%= @body %>.<br>
</p>

<p>Thanks!</p>

</body>
</html>