<html>
<head>
  <title>Ps3</title>
</head>
<body>


<p>
  <img alt="Alt pic" src="http://webneel.com/daily/sites/default/files/images/daily/11-2012/Best%20Animation%20Movie%20Characters%20(47).jpg" width="180" height="120" />
<br>
</p>

<p>
  <strong>Name:</strong>
  Gatam G Joseph
</p>

<p>
  <strong>Sex:</strong>
  Male
</p>

<p>
  <strong>Age:</strong>
  25
</p>

<p>
  <strong>Nationality:</strong>
  Imaginian
</p>

<p>
  <strong>Email:</strong>
  gj@mail.com
</p>

<p>
  <strong>Address:</strong>
   Pathumthani, Asian Institute of Technology
</p>

<p>
  <strong>Occupation:</strong>
  Foodstall Vender at AIT
</p>

<p>
  <strong>Marital Status:</strong>
  Single
</p>

<p>
  <strong>Income:</strong>
  10,000 Baht per month
</p>

<p>
  <strong>Short-term Goals:</strong>
  Make a variety of clean, tasty and healthy food for AIT community. Present a taste of south asian cuisine.
</p>

<p>
  <strong>Long-term Goals:</strong>
  Set up a food chain in Thailand specializing in South Asian cuisines.
</p>

<p>
  <strong>Immediate Questions:</strong>
  How can I make myself more sellable and known to further people?
</p>

<p>
  <strong>Computer Equipment:</strong>
  Smartphone, Laptop
</p>

<p>
  <strong>Connection:</strong>
  10Mbps connection from True 
</p>

<p>
  <strong>Experience:</strong>
  10 years of experience in kitchen handling and food-stall/deli management. 
</p>


<hr>
<br/><br/>

<p>
  <img alt="Alt pic" src="http://www.jsweb.uk/images/loginascustomer_profile.jpg" width="180" height="120" />
<br>
</p>

<p>
  <strong>Name:</strong>
  Hitshori Adminia
</p>

<p>
  <strong>Sex:</strong>
  Female
</p>

<p>
  <strong>Age:</strong>
  36
</p>

<p>
  <strong>Nationality:</strong>
  Admanican
</p>

<p>
  <strong>Email:</strong>
  hitshori@mail.com
</p>

<p>
  <strong>Address:</strong>
   Bangkok, Thailand
</p>

<p>
  <strong>Occupation:</strong>
  Professor at AIT
</p>

<p>
  <strong>Marital Status:</strong>
  Married
</p>

<p>
  <strong>Income:</strong>
  50,000 Baht per month
</p>

<p>
  <strong>Short-term Goals:</strong>
  Provide information on cryptography to the students and share as much information as possible.
</p>

<p>
  <strong>Long-term Goals:</strong>
  Research on better and new cryptographic methods.
</p>

<p>
  <strong>Immediate Questions:</strong>
  How to solve the NP hard questions?
</p>

<p>
  <strong>Computer Equipment:</strong>
  Smartphone, Laptop, iPad
</p>

<p>
  <strong>Connection:</strong>
  10Mbps connection from True 
</p>

<p>
  <strong>Experience:</strong>
  10 years in academics.
</p>


</body>
</html>

<hr>
